/* styles.css */

/* Global Styling */
body {
    background: url('i1.jpg') no-repeat center center fixed; /* Replace 'your-image-path.jpg' with the actual path to your image */
    background-size:cover; /* Ensures the image covers the entire screen */
    /* background: linear-gradient(90deg, #1D2843, #0C1521, #000000); */
    color: #fe913e; /* Text Color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    text-shadow: #fe913e;
    font-style: italic;
    font-size: 42px;
    /* color: #c0c0a600; Primary Color */
    font-weight: bold;
    
}

/* Container */
.container {
    display: flex;
    width: 500px;
    height: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Left Section (Logo) */
.left-section {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.logo {
    width: 300px;
    height: auto;
    mix-blend-mode:color-dodge;
   

}

/* Right Section (Login Form) */
.right-section {
    background-color: transparent; /* Secondary Color */
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}



.right-section h2 {
    color: #fe913e; /* Text Color */
    font-size: 24px;
    margin-bottom: 10px;
}

.right-section p {
    color: #fe913e; /* Hint Text Color */
    margin-bottom: 20px;
}

/* Form Styling */
.input-box{
    width: 80%;
    margin-bottom: 5px ;
    position: relative;
}

.input-box input{
    width: 110%;
    height: auto;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: #fff;
    padding: 20px 20px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: -50px;
    top: 35%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;


}

.remember-forget{
    margin-top: 10p;
    display: flex;
    justify-content: space-between;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    /* margin-bottom: 5px; */
    font-size: 16px;
    color: #ed730e; /* Text Color */
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ed730e; /* Field Outline */
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #ed730e; /* Primary Color */
    color: #FFFFFFFF; /* White */
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff7300; /* Darker Primary Color for hover */
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: blue; /* Accent Color */
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
